html {
    font-family: 'Montserrat', sans-serif ;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    background: -moz-linear-gradient(top, #364552 0%, #0d1216 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #364552 0%,#0d1216 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #364552 0%,#0d1216 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364552', endColorstr='#0d1216',GradientType= ); /* IE6-9 */
    color:aliceblue;
    padding: 3rem 2rem;
    }

header h1{
    font-size: 4rem;
    text-align: center;
}

.container{
    width: 500px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2, section article p{
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

footer {
    background:#0d1216;
    padding: 3rem ;
    width: auto;
    padding: 2rem 2rem 3rem 2rem;
    color: #fff;
    margin: 0;
}


footer a {
    transition: color 0.3s ase-in-out;
    color: #fff;
    text-decoration: none;
    padding: 0.1rem 0.3rem;
}

footer a:hover{
    color: cornflowerblue
}

.inline{
    display:inline;
}

.right {
    float:right;
}

.left {
    float:left;
}
